body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../images/bg-jifa.png);
    background-size: cover;
    background-position: center;
}

main {
    flex-grow: 1; /* usado para empurrar o footer para baixo, 
    não importando o tamanho do conteudo da pagina */
}

